html, body {
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  position: relative;
  background-color: #111;
}
.gif {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
#bigtext {
  display: block;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #eee;
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4em;
  width: 100%;
}
.next {
  margin: 1em;
}

